* {
   margin: 0;
   padding: 0;
   font-size: 100%;
}



:root {
  --Green-200-lighter: hsl(148, 38%, 91%);
  --Green-600-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Grey-500-medium: hsl(186, 15%, 59%);
  --Grey-900-darker: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", serif;
  font-size: 100%;
  background-color:var(--Green-200-lighter);
}



button {
  border: none;
}

input, textarea {
  border-color: var(--Grey-500-medium);
}

input[type='text'], input[type='email'] {
  outline: 1px solid hsl(186, 15%, 59%);
  padding-left: 1em;
}

/*
#container {
  width: 330px;
  height: 800px;
  background-color: #fff;
  margin: 2em  auto;
}
*/

legend {
  font-size: 2.2em;
}

p{
  padding: 1em 0 0 0;
  color: var(--Red);
}

input:focus, textarea:focus {
  outline:1px solid var(--Green-600-medium) ;
}

input[type='radio']:focus {
  outline: none;
}




#form--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  max-width: 330px;
  background-color: #fff;
  margin: 2em  auto;
  padding: 1.5em 1em;
}

.input--row1, .input--row2, .input--row3
,.input--row4, .input--row5 {
  display: flex;
  flex-direction: column;
}

.input--row1 label, .input--row2 label, .input--row3 label
,.input--row5 label {
  margin: 1em 0;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 1em 0 0 0;
}

.space {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  outline: 1px solid  hsl(186, 15%, 59%);
  margin: 1em 0;
  
  border-radius: 7px;
}

.space input {
  accent-color: #0c7d69;
  margin:0  1em 0 1.2em ;
  transform: scale(1.2);
}

input {
  height: 45px;
  border-radius: 7px;
  border: none;
}

textarea,button{
  width: 330px;
}

textarea {
  height: 75px;
  
  border-radius: 7px;
}

button {
  height: 50px;
  border-radius: 7px;
  font-weight: 700;
  color: #fff;
  background-color: var(--Grey-900-darker);
}

.check {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
}

input[type='checkbox'] {
  margin-left: .5em;
}

 
