* {
   margin: 0;
   padding: 0;
   font-size: 100%;
}



:root {
  --Green-200-lighter: hsl(148, 38%, 91%);
  --Green-600-medium: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Grey-500-medium: hsl(186, 15%, 59%);
  --Grey-900-darker: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", serif;
  font-size: 100%;
  background-color:var(--Green-200-lighter);
}


button, input, textarea {
  border:  none;
  background-color: transparent;
}

input[type='text']:focus , input[type='email']:focus, textarea:focus {
  outline-color: var(--Green-600-medium);
}

input {
  outline: 1px solid gray;
  border-radius: 2px;
}

p {
  color: var(--Red);
}



#container {
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  margin: 25px auto;
}

legend {
  font-size: 2em;
  margin-bottom: .5em;
  text-transform: capitalize;
  font-weight: 600;
}

.input--row1, .input--row2 , .input--row3 , .input--row5 {
  display: flex;
  flex-direction: column;
}

#form--container {
  display: grid;
  grid-template-areas: 'T'  'F' 'L' 'M' 'Q' 'D' 'S' 'K';
  gap:  1.5em 0;
}


legend {
  grid-area: T;
}

.grid-1 {
  grid-area: F;
}

.grid-2 {
  grid-area: L;
}

.grid-3 {
  grid-area: M;
}

.grid-6 {
  grid-area: K;
}


button {
  grid-area: S;
  height: 45px;
  background-color: var(--Green-600-medium);
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--White);
}

.grid-5  {
  grid-area: D;
}

label {
  margin: .5em 0;
  font-weight: 500;
  color: var(--Grey-500-medium);
}

p {
  position: relative;
  top: 10px;
}

input:not(.notMe) {
  height: 40px;
  border-radius: 6px;
  padding-left: 1em;
}

textarea {
  height: 243px;
  margin: 1em 0; 
  border-radius: 7px;
  outline:1px solid gray;
  padding: 1em;
}

button:hover , button:active {
  background-color: var(--Grey-900-darker);
}

.input--row4 {
  display: grid;
  grid-template-columns: 2fr ;
  grid-template-rows: 1fr 1fr;
  margin: 1em 0;
  gap: 1em;
}

.Qr1, .Qr2 {
  outline: 1px solid gray;
  border-radius: 7px;
  padding: .7em ;
}

.Qr1.G-box, .Qr2.G-box {
  outline: 1px solid green;
  background-color: #e0f1e7;
  padding: .7em ;
}

input[type='radio'] {
  margin: 0 1em ;
  outline: none;
  transform: scale(1.1);
 accent-color: green;
}

input[type='checkbox'] {
  outline: none;
  border: none;
  margin: 1em 0;
  accent-color: green;
}

.check {
  margin-left: 1em;
}

.row img {
  margin-right: 1em;
}

.row {
  display: flex;
}

.row h1 {
  color: var(--White);
  letter-spacing: 1px;
}

#pop-text {
  padding-bottom: 1em ;
  color: var(--White);
}

#pop-sms {
  
  margin: 25px auto;
  position: relative;
  top: 2em;
  width: 300px;
  padding: 1em;
  background-color: var(--Grey-900-darker);
  border-radius: 10px;
}



@media (min-width: 700px) {
  #container {
    width: 503px;
    padding: 2em;
  }

  #pop-sms {
    width: 500px;
  }
  
  #form--container {
    display: grid;
    gap: 10px;
    grid-template-areas: 'T T T T'  'F F L L' 'M M M M' 'Q Q Q Q' 'D D D D' 'K K K K' 'S S S S';
  }

  legend {
    grid-area: T;
  }

  .grid-1 {
    grid-area: F;
  }

  .grid-2 {
    grid-area: L;
  }

  .grid-3 {
    grid-area: M;
  }

  .grid-4 {
    grid-area: Q;
  }
  
  
  .grid-5 {
    grid-area: D;
    position: relative;
    top: -1.4em;
  }


  button {
    grid-area: S;
    height: 50px;
    margin: 1em 0;
  }

  .grid-6 {
    grid-area: K;
  }
  
  
  textarea {
    height: 55px;
    margin: 2em 0 0 0; 
  }

  .lb {
    position: relative;
    top: 1em;
  }
  

  .input--row4 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    margin: 0;
  }




  .Qr1, .Qr2 {
    position: relative;
    top: 1.5em;
    padding: .7em ;
    margin: .7em 0;
  }
}

@media (min-width: 1440px)  {
  #container {
    margin: 7em auto 0 auto;
  }

  #pop-sms {
  
    position: relative;
    top: 7em;
    padding: 2em;
  }
  
  
}